name: CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Configurar GO
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Compilar Aplicação
      run: go build -v ./...

    - name: Executar Testes
      run: go test -v ./...

deploy:
  needs: build-and-test
  runs-on: ubuntu-latest
  steps:
  - name: Deploy via SSH
    uses: appleboy/ssh-action@v1.0.0
    with:
       host: ${{ secrets.SSH_HOST }}
       username: ${{ secrets.SSH_USER }}
       key: ${{ secrets.SSH_KEY }}
       port: 22
       script: /home/appuser/go-notes/deploy.sh

